<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <link rel="stylesheet" type="text/css" href="../../assets/css/estilos.css">
    </head>
    <body>
    <center>
        <div> lista de categorias
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                    </tr>
                </thead>
            <tbody>
            <?php foreach ($lista_ctg as $listacategorias){ ?>
            <tr>
                <td><?php echo $listaCategorias['id] ?></td>
                <td><?php echo $listaCategorias['nombre_categoria'] ?></td>
            </tr>
            <?php } p>
            </tbody>
            </table>
        </div>
            <a href="categorias.php?add">agregar</a>
            
    </center>            
    </body>
</html>